  	body{
  	  background-color: white;
  	  font-family: Raleway, sans-serif;
  	}
  	h4{
  	  font-size: 22px;
  	 }
	.name {
	  color: black;
	  padding-top: 300px;
	  padding-bottom:20px;
	  margin-bottom:400px;
	}
	.separate-bar{
	  background-color: #ececec;
  	  padding-left: 80px;
	  padding-right: 80px;
	  border-top: 200px;
	  border-bottom: 200px;	  
	}
	.about-box{
	  font-size: 18px;
	  background-color:white;
	  margin-bottom:150px;
	  margin-top:150px;
	}
	#portfolio-box{
	  background-color: #ececec;
	  padding-left: 80px;
	  padding-top: 20px;
	  margin-top: 150px;
	  margin-bottom: 150px;
	  padding-right: 80px;
	  padding-bottom:20px;
	  font-size: 18px;
	}
	.contact-box{
	  background-color:white;
	  padding-top:200px;
	  padding-bottom:200px;
	  margin-left:-90px;
	  margin-right:-90px;
	  margin-top:150px;
	  margin-bottom:150px;

	}
	.btn {
	  background-color:white;
	  border-color:#ececec;
	  border-width:3px;
	}
	.soft-btn{
	  background-color: white;
	  border-radius:8px;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  font-size: 14px;
	  margin-left:2px;
	  margin-right:2px;
	  padding-left:5px;
	  padding-right:5px;
	}

	.paper-box{
	  padding-top: 5px;
	  padding-bottom: 20px;
	}
	.software-box{
	  background-color: white;
	  border-color:black;
	  border-radius:8px;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  font-size: 14px;
	  margin-left:2px;
	  margin-right:2px;
	  padding-left:5px;
	  padding-right:5px;
	}
	.form-box{
	  padding-left:300px;
	  padding-right:300px;
	  padding-bottom:50px;
	}
	.software-gap{
	  padding-top:10px;
	  padding-bottom:10px;
	  background-color:#ececec;
	}
	.paper-desc{
	  font-size: 13px;
	  color: #555555;
	  padding-top: 6px;
	  padding-left: 4px;
	  padding-right: 4px;
	  text-align: center;
	}
